/* DESKTOP CSS */
@media only screen and (min-width: 992px) {
    .record{
        background-image: url(/images/record.jpg);
        background-size: cover;
        margin: 3rem auto 0 auto;
        border-radius: 2rem;
        height: 25rem;
        min-width: 120rem;
        max-width: 135rem;
        padding-top: 1rem;
        display: flow-root;
    }
    
    .section{
        background-color: #4e4e50;
        padding: 1rem;
        border-radius: 2rem;
        margin: 3rem auto 0 auto;
        min-width: 120rem;
        max-width: 135rem;
    }
    
    .big-text{
        font-family: Staatliches;
        margin-left: 2rem;
    }
    
    .guitar-small-text, .violin-small-text{
        font-family: Raleway;
        width: 100%;
        text-align: center;
        max-width: 67rem;
    }
    
    .guitar, .violin{
        border-radius: 2rem;
        height: 20rem;
        width: 45rem;
        object-fit: cover;
        float: right;
        margin-right: 2rem;
        margin-top: -1rem;
    }
    
    .piano{
        height: 30rem;
        width: 55rem;
        border-radius: 2rem;
        margin-left: 2rem;
    }
    
    .piano-small-text{
        font-family: Raleway;
        width: 55rem;
        text-align: center;
        float: right;
    }
}


/* MOBILE CSS */
@media only screen and (max-width: 992px) {
    .record{
        background-image: url(/images/record.jpg);
        background-size: cover;
        border-radius: 2rem;
        height: 15rem;
        margin: 1rem 1rem 0 1rem;
        padding-top: 1rem;
        display: flow-root;
        align-self: center;

    }
    
    .section{
        background-color: #4e4e50;
        padding: 1rem;
        border-radius: 2rem;
        margin: 1rem 1rem 0 1rem;
    }
    
    .big-text{
        font-family: Staatliches;
        margin-left: 1rem;
        margin-top: 0rem;
    }
    
    .guitar-small-text, .violin-small-text{
        font-family: Raleway;
        text-align: center;
        max-width: 100%;
    }
    
    .guitar, .violin{
        border-radius: 2rem;
        width: 100%;
    }
    
    .piano{
        border-radius: 2rem;
        margin-left: 0.5rem;
        width: 100%;
    }
    
    .piano-small-text{
        font-family: Raleway;
        text-align: center;
    }
}
