/* Desktop CSS */

@media only screen and (min-width: 992px) {

    a{
        text-decoration: none;
    }

    .change-albums, .change-albums-back{
        display: none;
    }

    .banner{
        background-image: url(/images/Banner.png);
        background-size: cover;
        background-position-y: bottom;
        margin: 3rem auto 0rem auto;
        border-radius: 2rem;
        height: 25rem;
        min-width: 120rem;
        max-width: 135rem;
        padding-top: 1rem;
        display: flow-root;
    }

    .big-text{
        font-family: Staatliches;
        margin-left: 2rem;
        font-size: 3rem;
    }

    .album{
        width: 46rem;
        height: 46rem;
        display: inline-block;
        backface-visibility: hidden;
        perspective: 90rem;
        transition: transform 1s ease-in-out;
    }

    .all-albums{
        width: 155rem;
        margin: 3rem auto 0 auto
    }

    .album-left{
        margin-left: 11rem;
    }

    .album__side{
        position: absolute;
        width: 40rem;
        height: 40rem;
        outline: 10px solid white;
        backface-visibility: hidden;
        transition: transform 1s ease-in-out;
    }

    .img{
        width: 100%;
        height: 100%;
    }

    .row {
        display: flex;
    }
      
    .column {
        flex: 33.33%;
        padding: 5px;
    }

    .item-name{
        font-family: var(--title-font);
        font-size: 2.4rem;
        color: black;
        margin: -11rem 0 0 2rem;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: 2px;
    }

    .buy-now{
        font-family: var(--title-font);
        font-size: 2.4rem;
        color: white;
        margin-left: 2rem ; 
    }

    .item-price-divide{
        font-family: var(--title-font);
        font-size: 3rem;
        color: black;
        margin: -13rem 0 0rem 2rem;
    }

    .buy-button{
        font-family: var(--title-font);
        font-size: 2.4rem;
        color: white;
        border: 3px solid white;
        border-radius: 2rem;
        background-color: #1A1A1D;
        margin: 2rem 0 0 21rem;
    }

    .album__side--back{
        background-size: cover;
        background-position-y: center;  
        transform: rotateY(180deg);
    }

    .album:hover .album__side--front{
        transform:rotateY(-180deg);
        transition: transform 1s ease-in-out;
    }
    
    .album:hover .album__side--back{
        transform:rotateY(-0deg);
        transition: transform 1s ease-in-out
    }

    .cart{        
        margin: 0rem auto 0rem auto;
        border-radius: 2rem;
        min-width: 120rem;
        max-width: 135rem;
        padding-top: 1rem;
        display: flow-root;
        font-family: var(--title-font);
        font-size: 2.4rem;
        background-color: #1a1a1d;
    }

    .cards{
        margin: 0rem auto 0rem auto;
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #1a1a1d;
        background-clip: border-box;
        border-radius: 0.375rem;
    }

    .cart-title{
        font-family: var(--title-font);
        font-size: 3rem;
        margin: 0rem auto 0rem auto;
        border-radius: 2rem;
        min-width: 120rem;
        max-width: 135rem;
        padding-top: 1rem;
    }

    .payment{
        font-family: var(--title-font);
        color: white;
        font-size: 2.4rem;
        margin: 0.5rem 0 0 1rem;
    }

    .btn{
        display: inline-block;
        padding: 0.375rem 0.75rem;
        font-family: var(--title-font);
        font-size: 2.4rem;
        color: white;
        text-align: center;
        text-decoration: none;
        vertical-align: middle;
        transition: none;
    }

    .cart-footer{
        margin: 0rem auto 0rem auto;
        border-radius: 2rem;
        min-width: 120rem;
        max-width: 135rem;
        padding-top: 1rem;
        display: flow-root;
        font-family: var(--title-font);
        font-size: 2.4rem;
        background-color: #1a1a1d;
    }
}





/* Mobile CSS */

@media only screen and (max-width: 992px) {

    .banner{
        background-image: url(/images/Banner.png);
        border-radius: 2rem;
        background-size: cover;
        height: 15rem;
        margin: 1rem 4.5rem 0 1rem;
        min-width: 35rem;
        max-width: 135rem;
        padding-top: 1rem;
        display: flow-root;
        align-self: center;
    }

    .change-albums{
        top: 50%;
        left: 75%;
        font-family: var(--title-font);
        transform: translate(-0%, -125%);
        padding: 12px 24px;
        border-radius: 3rem;
        border: 3px solid black ;
        margin: 0rem 0rem 0rem 1rem;
    }

    .change-albums-back{
        border-radius: 3rem;
        border: 3px solid black ;
        margin: 1.75rem 5rem 0 -1rem
    }

    .big-text{
        font-family: Staatliches;
        margin-left: 2rem;
    }

    .album{
        min-height: 40rem;
        max-height: 45rem;
        min-width: 40rem ;
        max-width: 45rem;
        display: flow-root;
        backface-visibility: hidden;
        perspective: 90rem;
        transition: transform 1s ease-in-out;
        margin-left: auto;
        margin-right: auto;
        margin-top: 3rem;
    }

    .img{
        width: 100%;
        height: 100%;
        min-height: 15rem;
        max-height: 45rem;
        min-width: 15rem ;
        max-width: 45rem;
    }

    .album__side{
        position: absolute;
        width: 40rem;
        height: 40rem;
        outline: 10px solid white;
        backface-visibility: hidden;
        transition: transform 1s ease-in-out;
    }

    .item-name{
        font-family: var(--title-font);
        font-size: 2.4rem;
        color: black;
        margin: -11rem 0 0 2rem;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: 2px;
    }

    .buy-now{
        font-family: var(--title-font);
        font-size: 2.4rem;
        color: white;
        margin-left: 2rem ; 
    }
    
    .buy-button{
        font-family: var(--title-font);
        font-size: 2.4rem;
        color: white;
        border: 3px solid white;
        border-radius: 2rem;
        background-color: #1A1A1D;
        margin-left: 6rem;
    }


    .row {
        display: flex;
    }
      
    .column {
        padding: 5px;
    }

    .album__side--back{
        background-size: cover;
        background-position-y: center;  
        transform: rotateY(180deg);
    }

    .album-1:hover .album__side--front{
        transform:rotateY(-180deg);
        transition: transform 1s ease-in-out;
    }
    
    .album-1:hover .album__side--back{
        transform:rotateY(-0deg);
        transition: transform 1s ease-in-out
    }   

    #album-beatles.flip, 
    #album-eminem.flip, 
    #album-taylor.flip, 
    #album-ed.flip, 
    #album-guns.flip, 
    #album-mcr.flip, 
    #album-metro.flip, 
    #album-queen.flip, 
    #album-pink.flip{
        transform: rotateY(-180deg);    
        transition: transform 1s ease-in-out;
    }
    
    #album-beatles-back.flip-back, 
    #album-eminem-back.flip-back, 
    #album-taylor-back.flip-back, 
    #album-ed-back.flip-back, 
    #album-guns-back.flip-back, 
    #album-mcr-back.flip-back, 
    #album-metro-back.flip-back, 
    #album-queen-back.flip-back, 
    #album-pink-back.flip-back{
        transform: rotateY(-0deg);
        transition: transform 1s ease-in-out
    }

    .cart{        
        margin: 0rem auto 0rem auto;
        border-radius: 2rem;
        min-width: 21rem;
        max-width: 135rem;
        padding-top: 1rem;
        display: flow-root;
        font-family: var(--title-font);
        font-size: 2.4rem;
        background-color: #1a1a1d;
    }

    .cards{
        margin: 0rem auto 0rem auto;
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #1a1a1d;
        background-clip: border-box;
        border-radius: 0.375rem;
    }

    .cart-title{
        font-family: var(--title-font);
        font-size: 3rem;
        margin: 0rem auto 0rem auto;
        border-radius: 2rem;
        min-width: 21rem;
        max-width: 135rem;
        padding-top: 1rem;
    }

    .payment{
        font-family: var(--title-font);
        color: white;
        font-size: 2.4rem;
        margin: 0.5rem 0 0 1rem;
    }

    .btn{
        display: inline-block;
        padding: 0.375rem 0.75rem;
        font-family: var(--title-font);
        font-size: 2.4rem;
        color: white;
        text-align: center;
        text-decoration: none;
        vertical-align: middle;
        transition: none;
    }

    .cart-footer{
        margin: 0rem auto 0rem auto;
        border-radius: 2rem;
        min-width: 120rem;
        max-width: 135rem;
        padding-top: 1rem;
        display: flow-root;
        font-family: var(--title-font);
        font-size: 2.4rem;
        background-color: #1a1a1d;
    }
}