@media only screen and (min-width: 992px) {
    /* This is only to make it fit the theming of the website, as the about us page is Extremly basic
        so not a lot of Css Is Required*/
    .aboutus{
        font-family: var(--title-font);
        color: black;
        background-color: white;
        width: 70rem;
        height: 53rem;
        border: solid 10px black;
        margin: 3rem auto 0 auto;
        text-align: center;
        vertical-align: center;
        font-size: 3rem;
        padding: 5rem;
    }
}

@media only screen and (max-width: 992px) {
    .aboutus{
        font-family: var(--title-font);
        color: black;
        background-color: white;
        width: 100%;
        border: solid 10px black;
        margin: 3rem auto 0 auto;
        text-align: center;
        vertical-align: center;
        font-size: 3rem;
        padding: 5rem;
    }
}
